.site-header{
    background-color: #c38d93;
    color: white;
    height: 120vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.site-header h1{
    color:black;
}

.site-header-content{
    margin: 60px;
}

.site-header h4{
    text-align: center;
}
.picture{
    border-radius: 48%;
    height: 200px;
    width: 200px;
    box-shadow: white 0.5px 0px 30px;
}

body{
    margin: 20;
}
