.site-header{
    background-color: #c38d93;
    color: white;
    height: 120vh;
    font-family: Georgia;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.site-header.circles.c1{
    left: -25px;
    top: -25px;
}



.site-header-content{
    margin: 50px;
}

.site-header h4{
    text-align: center;
}
.picture{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: white 0.5px 0px 30px;
}

body{
    margin: 5;
}
